.login-form {
  background: #FEFDD0;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: space-around;
  padding: 10%;
  text-align: center;
  transition: 2s ease;
}

.invalid-login-msg {
  color: red
}

.submit-login-button {
  color: #FEFDD0
}

.login-input {
  align-self: center;
  border: 3px solid darkolivegreen;
  font-size: 15px;
  height: 1%;
  padding: 2%;
  width: 30%;
}

.submit-login-button {
 width: 20em;
 align-self: center;
 height: 3em;
 font-size: 17px;
 font-weight: 700;
 border-radius: 7px;
 background: linear-gradient(to top right, #33CC33 1%, #00FFCC 80%);
}

.submit-login-button:hover {
  /* height:3.5em; */
  background: linear-gradient(to bottom left, #33CC33 1%, #00FFCC 80%);
  transition: 1s ease;
}