form {
     display: flex;
     height: 25em;
     flex-direction: column;
     justify-content: space-around;
     background: #FEFDD0;
     transition: 2s ease;
}

input {
    height: 3em;
    width: 26em;
    align-self: center;
    font-size: 15px;
    border: 3px solid darkolivegreen;
}

.login-button {
    width: 20em;
    align-self: center;
    height: 3em;
    font-size: 17px;
    font-weight: 700;
    border-radius: 7px;
    background: linear-gradient(to top right, #33CC33 1%, #00FFCC 80%);
}

.login-button:hover {
    height:3.5em;
    transition: 1s ease;
}

.hidden {
display: none
}