.single-movie-view {
  height: 100vh;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #FEFDD0;
}

.background-image {
  opacity: 5%
}

.poster {
  width:100%;
  padding: 5%;
}

.poster-section {
  height: 85%;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  background: rgba(50, 50, 50, 0.6);

}

.details-section {
  display: flex;
}

.single-movie-header {
  background: transparent;
  height: 15%;
  width: 100%;
  text-align: center;
  background: rgba(50, 50, 50, 0.6);
}

body {
  width: 100%;
}

.movie-title {
  font-size: 4.5em;
  height: 70%;
}

.tagline {
  height: 30%;
  font-size: 29px;
  align-self: flex-end;
}

.main-details {
  height: 100%;
  width: 100%;
  padding: 5% 10%;
  font-size: 2em;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: visible;
  background: rgba(50, 50, 50, 0.6);
}

.misc-details {
  padding: 5%;
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  background: rgba(50, 50, 50, 0.6);
}
