header {
  background: linear-gradient(to top right, #33CC33 1%, #00FFCC 80%);  
  display: flex;
  flex-direction: column;
  height: 15vh;
  justify-content: flex-end;
  padding: 1%;
  width: 100%
}

header button{
  align-self: flex-end;
  background-color: #FEFDD0;
  border-radius: 3px;
  font-weight: 600;
  height: 25%;
  justify-content: flex-end;
  width: 10%
}

header h1{
  align-self: center;
  color: #FEFDD0;
  font-size: 4em;
  justify-self: center;
}

.icon {
height: 100%
}

.icon-holder {
display: flex;
height: 100%;
width: 100%;
}